body {
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    max-width: 32rem; 
}
h5 {
    text-align: center;
}
#user-uploaded-image {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}
#result {
    max-width: 100%;
}
#id-face {
    display: none;
}
.content {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px #999 solid;
}
#btn {
    background-color: #4363ab;
    color: #fff;
    text-align: center;
    padding: 0.5rem 1rem;
    width: 80%;
    border-radius: 0.2rem;
    margin: 2rem auto;
    font-weight: 600;
    font-size: 1.2rem;
}

