body {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 32rem; 
    font-family: sans-serif;
}
h5 {
    text-align: center;
    font-size: 1.0rem;
}
#user-uploaded-image {
    display: block;
    border: 1px solid black;
    width: 100%;
    max-width: 100%;
}
#result {
    max-width: 100%;
}
#id-face {
    display: none;
}
footer {
    font-size: 0.7rem;
    text-align: center;
    color: gray;
}
.content {
    width: 60%;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#btn {
    background-color: #4363ab;
    color: #fff;
    text-align: center;
    padding: 0.5rem 1rem;
    width: 80%;
    border-radius: 0.2rem;
    margin: 2rem auto;
    font-weight: 600;
    font-size: 1.2rem;
}

